<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.hxh.jdsun.bean"/>
    </typeAliases>

    <!-- 连接数据库 -->
    <environments default="cybatis">
        <environment id="cybatis">
            <!--事务管理方式 jdbc -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhoset:3306/jdsun"/>
                <property name="username" value="root"/>
                <property name="password" value="617662"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>

</configuration>